extends layout 
 
block content 
  .page-header 
    h3 Forecast results

  div
    table
      tbody
        tr
          td Temperature
          td #{results.temperature}
        tr
          td Units
          td #{results.units}
        tr
          td Outlook
          td #{results.weatherType}