footer
  .container.text-center
    ul.pull-right.list-inline
      li
        a(href='https://github.com/airavata-courses/TeamAviato') GitHub Project
      li
        a(href='https://github.com/airavata-courses/TeamAviato/issues') Issues
